<div class="head-area">
    <div class="mes-head clearfix">
      <a href="/" class="main-logo"></a>
      <div class="h-ico-area fl-r">
        <a href="#" id="nav_account" class="h-ico-item"><em class="nb-ico-acc"></em><!-- <span class="nb-span">我的账户</span> --></a>
        <a href="/shopcar" class="h-ico-item"><em class="nb-ico-car"></em><!-- <span class="nb-span">购物车</span> --></a>
        <a href="#" id="nav_my_order" class="h-ico-item"><em class="nb-ico-order"></em><!-- <span class="nb-span">订单</span> --></a>
      </div>
    </div>
  </div>
  <% include nav_script %>