<style>
.right-bar-logo{background-color:#f5f5f5;width:100%;border-bottom: 1px solid #ddd;background-position: 10px 10px}
.right-bar{position:absolute;width:300px;height:100%;top:0px;right:0px;background: #555;}
.right-bar a{color: #555;padding: 10px 15px;text-decoration: none;display:block;background-color: #f5f5f5;margin-bottom: 0;border: 0 none;border-bottom: 1px solid #ddd;}
.right-bar a i{margin-left: .3em;float: right!important;display: inline-block;

font-family: FontAwesome;
font-style: normal;
font-weight: 400;
line-height: 1;

-webkit-font-smoothing: antialiased;color: #555;box-sizing: border-box;}
i:before{content: "\f054";}
#app_main{z-index:10;background: #fff;}
</style>
<div id="right_bar" class="right-bar">
	<div class="main-logo right-bar-logo"></div>
	<div>
		<a href="/">返回首页<i></i></a>
		<a href="#" id="nav_account">我的账户<i></i></a>
		<a href="#" id="nav_my_order">我的订单<i></i></a>
		<a href="/shopcar">购物车<i></i></a>
		<a href="#" id="logout">退出登录<i></i></a>
	</div>
</div>
<% include nav_script %>
<script>
$(function(){
	$('#right_nav_menu_button').click(function(){
	   if($('#app_main').hasClass('sidebar-left-in')){
		$('#app_main').removeClass('sidebar-left-in');
	   }else{
		$('#app_main').addClass('sidebar-left-in');
	   }
	 });
})
</script>