  <div class="head-area">
    <div class="mes-head">
      <a href="/" class="main-logo"><img src="<%=STATIC_DOMAIN%>img/n-logo.png" /></a>
      <div class="clearfix">
        <ul class="head-nav fl-l hide">
          <li class="hn-item"><a href="#" class="current"><em class="nav-home ico-item"></em><em class="nav-con">首页</em></a></li>
          <li class="hn-item"><a href="#"><em class="nav-cake ico-item"></em><em class="nav-con">蛋糕</em></a></li>
          <li class="hn-item"><a href="#"><em class="nav-flower ico-item"></em></em><em class="nav-con">鲜花</em></a></li>
          <li class="hn-item"><a href="#"><em class="nav-time ico-item"></em><em class="nav-con">每实每刻</em></a></li>
        </ul>
      </div>
    </div>
  </div>