<!DOCTYPE html>
<html>
<head>
  <title>MES-结算</title>
  <% include includes/static_config %>
  <% include includes/static_loader %>
  <% include includes/head_script %>
  <style>
      .error-border{border:red 1px solid}
      .date-select{
		width:26%;
		background-color: #f6f6f6;
		border-color: #ddd;
		color: #333;
		text-shadow: 0 1px 0 #f3f3f3;
		margin: .5em 0;
		padding: .5em .5em;
		display: block;
		position: relative;
		text-align: center;
		text-overflow: ellipsis;
		overflow: hidden;
		white-space: nowrap;
		cursor: pointer;
		-webkit-user-select: none;
		border-radius: .3125em;
		box-shadow: 0 1px 3px rgba(0,0,0,.15);
		font-weight: 700;
		border-width: 1px;
		border-style: solid;
		display:inline-block
		}
	.date-select select {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		min-height: 1.5em;
		min-height: 100%;
		height: 3em;
		max-height: 100%;
		outline: 0;
		-webkit-border-radius: inherit;
		border-radius: inherit;
		-webkit-appearance: none;
		-moz-appearance: none;
		cursor: pointer;
		filter: Alpha(Opacity=0);
		opacity: 0;
		z-index: 2;
	}

	input,.wap-order-title-item{font-size:16px;}
      </style>
</head>
<body>
  
  <div id="app_main" class="app-main app-nav">
    <% include includes/header_v2 %>
    <div class="scroll-area" id="scroll_container" style="padding-bottom:120px;padding-top:60px;">
      <h4 class="wap-order-title-item">订单结算</h4>
      <p class="wap-total-price" id="order_price"></p>
      <div class="wap-order-item leave-mes" style="padding:0;">
        <div class="check-container" style="width:100%;">
          <input type="text" id="message_input" name="message_input" class="global-input" placeholder="留言说明（140字以内）" style="margin-bottom:0;"/>
        </div>
      </div>
      <h4 class="wap-order-title-item">送货地址</h4>
      <p class="wap-little-tip hide">*为保证送货准确性，请您填写正确无误的信息</p>
      <p class="wap-little-tip hide">如果您之前注册购买过，请<a href="" class="td-u">登录</a>以读取地址信息，并积累积分</p>
      <div id="new_address_container" style="display:none">
	      <div class="wap-add-adress">
		<div class="date-select ui-icon-carat-d">
			<span>北京市</span>
			<select id="city_sel" type="city">
			  <option value="441">北京市</option>
			</select>
		</div>
		<div class="date-select ui-icon-carat-d">
			<span>选择区</span>
			<select id="region_sel" type="region">
			</select>
		</div>
		<div class="date-select ui-icon-carat-d" style="display:none">
			<span>选择街道</span>
			<select id="district_sel" type="district">
			</select>
		</div>
		<br>
		<p class="wap-check-tip hide">北京市五环内免费送货，五环外不送货</p>
		<a name="new_address"></a>
		<div class="check-container">
		  <input type="text" id="new_address" class="global-input has-bor-input" placeholder="详细地址">
		  <span class="tips-container hide">输入错误</span>
		</div>
		
		<div class="check-container">
		  <input type="text" id="new_contact" class="global-input has-bor-input" placeholder="收货人姓名">
		  <span class="tips-container hide">输入错误</span><!-- 错误信息容器,出现2秒后消失 -->
		</div>
	
		<div class="check-container">
		  <input type="tel" id="new_tel" class="global-input has-bor-input" placeholder="联系人的手机号码">
		  <span class="tips-container hide">输入错误</span><!-- 错误信息容器,出现2秒后消失 -->
		</div>
	      </div>
      </div>
      <div id="address_container"></div>
      <div class="clearfix pad-l-r10">
        <em class="check-btn fl-l" style="display:none" id="new_address_btn">添加新地址</em>
        <em class="check-btn fl-r" style="display:none" id="more_address_btn">显示更多地址<em class="wap-ad-down-ico"></em></em>
      </div>
      <h4 class="wap-order-title-item">送货时间</h4>
      <div class="clearfix pad-l-r10" style="padding-bottom:20px;">
	<div class="date-select ui-icon-carat-d">
		<span>2014年</span>
		<select id="year_sel" type="year">
		  <option>2014</option>
		  <option>2015</option>
		</select>
	</div>
	<div class="date-select ui-icon-carat-d">
		<span>1</span>
		<select id="month_sel" type="month">
		  <option>1</option>
		</select>
	</div>
	<div class="date-select ui-icon-carat-d">
		<span>选择日期</span>
		<select id="day_sel" type="day"></select>
	</div>
	<div class="date-select ui-icon-carat-d">
		<span>选择小时</span>
		<select id="hour_sel" type="hour">
		  <option>0</option>
		</select>
	</div>
        <div class="date-select ui-icon-carat-d">
		<span>选择分钟</span>
		<select id="minute_sel" type="minute">
		  <option>0</option>
		</select>
	</div>
        
      </div>
      <h4 class="wap-order-title-item hide">发票</h4>
      <div class="wap-order-item hide" style="padding:10px;">
        <label>开发票<input type="checkbox" class="wap-checkbox-item" style="top:18px;"/></label>
        <ul class="tt-ul invoice-ul clearfix hide">
          <li class="clearfix">
            <div class="l-title">发票类型：</div>
            <div class="r-con clearfix" style="padding-bottom:20px;">
              普通发票
            </div>
          </li>
          <li class="clearfix">
            <div class="l-title">发票抬头：</div>
            <div class="r-con clearfix" style="padding-bottom:20px;">
              <label for="personal" class="space"><input type="radio" name="invoice" id="personal" class="radio-item" />个人</label>
              <label for="company"><input type="radio" name="invoice" id="company" class="radio-item" />公司</label>
            </div>
          </li>
          <li class="clearfix">
            <div class="l-title lh-input">顾客姓名：</div>
            <div class="r-con clearfix">
              <div class="check-container">
                <input type="password" class="global-input" placeholder="请填写发票打印抬头"/>
                <span class="tips-container">输入错误</span>
              </div>
            </div>
          </li>
          <li class="clearfix">
            <div class="l-title lh-input">公司名称：</div>
            <div class="r-con clearfix">
              <div class="check-container">
                <input type="password" class="global-input" placeholder="请填写发票打印抬头"/>
                <span class="tips-container">输入错误</span>
              </div>
            </div>
          </li>
          <li class="clearfix">
            <div class="l-title">发票内容：</div>
            <div class="r-con clearfix" style="padding-bottom:20px;">
              <label for="cake" class="space"><input type="radio" name="invoiceCon" id="cake" class="radio-item" />蛋糕</label>
              <label for="food"><input type="radio" name="invoiceCon" id="food" class="radio-item" />食品</label>
            </div>
          </li>
        </ul>
      </div>
      
      <h4 class="wap-order-title-item">付款方式</h4>
      <div class="wap-order-item pay_container" style="padding:14px 10px;" id="cash_container" data-id="1">
        <label for="cashon" >货到付款
	    <em class="wap-radio wap-radio-item checked pay_sel" id="cashon"></em>
        </label>
      </div>
      <div class="wap-order-item pay_container" style="padding:14px 10px;" id="alipay_container" data-id="3">
        <label for="alipay">支付宝<em class="wap-radio wap-radio-item pay_sel"  id="alipay" ></em></label>
      </div>
      <div class="wap-order-item pay_container" style="padding:14px 10px;" id="kuaiqian_container" data-id="4">
        <label for="kuaiqian">快钱<em class="wap-radio wap-radio-item pay_sel" id="kuaiqian"></em></label>
      </div>
    </div>
    <div class="wap-total-btn-area tl-c">
      <div class="fl-l" style="padding:5px;font-size:20px;">总计<b id="total_price"></b> 元<p style="display:none;font-size:14px;" id="shipping_fee_display">(含10元运费)</p></div>
      <div class="fl-r" style="padding-bottom:5px;"><a href="#" id="done_button" class="btn  big-btn status1-btn" style="font-size:16px;">提交订单</a></div>
    </div>
  </div>
						<form action="http://www.mescake.com/flow.php" method="post" id="submit_form">
							<input type="hidden"  id="leaving_message" name="leaving_message">
							<input type="hidden" name="pay_id" value="1" id="pay_id">
							<input type="hidden" name="surplus" value="0.00" id="surplus">
							<input type="hidden" name="bonus_id" value="请输入10位现金券券号" id="bonus_id">
							<input type="hidden" name="shipping_fee" value="0.00"  id="shipping_fee">
							<input type="hidden" name="x" value="97">
							<input type="hidden" name="y" value="32">
							<input type="hidden" name="token" value="from_mobile">
							<input type="hidden" name="step" value="done">
						</form>
  <script>
  window.HAS_BIG_STAFF = false;
  window.HAS_NO_SUGAR_STAFF = false;
  window.server_date = '<%=date%>';
  M.loading();
  Loader(['touch/page/checkout.js','touch/page/shopcar.js']);
  </script>
  <% include includes/baidu %>
</body>
</html>
