<!DOCTYPE html>
<html>
<head>
  <title>MES-结算</title>
  <% include includes/static_config %>
  <% include includes/static_loader %>
  <% include includes/head_script_v2 %>
 <style>
 *{padding: 0; margin: 0;}
html, body {
    font-size: 14px;
    color: #333;
}
body, input {
    font-family: "Hiragino Sans GB","Microsoft YaHei","WenQuanYi Micro Hei",sans-serif;
}
a, input, em, .wap-price-intro, .wap-check-area, .wap-func-more-ico, .ra-con {
    outline: 0;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}
table{border-collapse:collapse;border-spacing:0}
a,label,:focus{outline:0 none}
.clearfix:after{display:block;content:"\20";height:0;clear:both;overflow:hidden;visibility:hidden}
.clearfix{*zoom:1}
.app-main{
  position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    min-height: 500px;
    overflow: hidden;
}

.return-area {
    height: 50px;
    line-height: 50px;
    background: #fff;
    border-bottom: 1px solid #ccc;
    overflow: hidden;
    font-weight: bold;
}
.return-area {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
}
.return-area a {
    color: #333;
}
.ra-ico {
    float: left;
    display: inline-block;
    margin: 0 10px 0 0;
    width: 40px;
    height: 50px;
    vertical-align: middle;
    border-right: 1px solid #ccc;
    background: url(http://s1.static.mescake.com/touch/css/img/wap-return-home.png) center center no-repeat;
    background-size: 12px 12px;
}
.ra-con {
    display: inline-block;
    font-size: 16px;
}

.scroll-area {
    display: block;
    height: 100%;
    overflow: auto;
    box-sizing: border-box;
    padding: 60px 0;
}
.data-item {
    padding: 10px;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
    margin: 10px 0;
    background: #fff;
}
.address-detail {
    padding-right: 30px;
    position: relative;
}
.address-num {
    font-weight: bold;
    margin-left: 0;
}
.wap-radio, .wap-checkbox {
    display: inline-block;
    width: 24px;
    height: 24px;
}
.wap-radio {
    background: url(http://s1.static.mescake.com/touch/css/img/wap-radio41.png) 0 0 no-repeat;
    background-size: 24px 24px;
}
.wap-checkbox-item, .wap-radio-item {
    position: absolute;
    right: 10px;
    top: 50%;
    margin-top: -12px;
}
.wap-radio:active, .wap-radio.checked {
    background: url(http://s1.static.mescake.com/touch/css/img/wap-radio42.png) 0 0 no-repeat;
    background-size: 24px 24px;
}

.has-bor-input {
    border: 1px solid #e5e5e5;
    border-radius: 3px;
    background: #fff;
    padding: 10px;
}
.global-input {
    height: 42px;
    line-height: normal;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 10px;
}


.wap-more-ico {
    position: absolute;
    top: 50%;
    margin-top: -4px;
    right: 10px;
    display: inline-block;
    width: 8px;
    height: 8px;
    background: url(http://s1.static.mescake.com/touch/css/img/wap-more-ico.png) 0 0 no-repeat;
    background-size: 8px 8px;
}

/* 订单确认部分新增部分 */
.por-r{position: relative;}

.check-sent-style .por-r{width: 50%; float: left; padding-left: 64px; box-sizing:border-box;}
.check-sent-style .wap-radio{right: auto; left: 30px;}

.self-sent-enter-mes{padding-top: 10px;}

.new-wap-btn{
    border: 0 none;
    background: #fff; height: 40px; box-sizing:border-box;
    line-height: normal; padding: 10px 0; text-align: center; width: 100%;
    color: #939862; font-size: 14px; margin:0; margin-bottom: 10px; border: 1px solid #eee;
    border-radius: 3px;
}
 .error-border{border-color:red}
 </style>
</head>
<body>
  
  <div id="app_main" class="app-main app-nav">
    <div class="return-area"><a class="ra-ico" href="/"></a><span class="ra-con">订单确认</span></div>
    <div class="scroll-area" id="scroll_container" style="padding-bottom:15px;padding-top:40px;">
      
      <div class="data-item">
        <p class="wap-order-title-item" id="staff_container">订单信息</p>
        <div class="line-item" style="display:none" id="fee_bar">运费：<span class="woi-price" style="color:#ff7e00;" id="address_fee_top">免邮</span></div>
        <div class="leave-mes" style="padding:0;">
          <div class="check-container" style="width:100%;">
            <input type="text" id="message_input" class="global-input has-bor-input" placeholder="留言说明（20字以内）" style="margin-bottom:0;">
          </div>
        </div>
      </div>
      <div class="data-item">
		  <div class="check-sent-style clearfix">
			  <div class="por-r" id="mes_shipping_button">
				<em class="wap-radio wap-radio-item checked"></em>每实配送
			  </div>
			  <div class="por-r" id="self_shipping_button">
				<em class="wap-radio wap-radio-item"></em>站点自提
			  </div>
		  </div>
      </div>
	  <!-- user unlogin -->
	  <div class="data-item" id="new_address_container" style="display:none">
        <p class="wap-order-title-item">收货地址</p>
        <div class="check-container">
          <input type="text" id="new_contact" class="global-input has-bor-input" placeholder="收货人姓名">
        </div>
        <div class="check-container">
          <input type="tel" id="new_tel" class="global-input has-bor-input" placeholder="联系电话">
        </div>
        <div class="clearfix tl-c">
          <div class="check-container fl-l" style="width:20%;">
            <input type="text" class="global-input has-bor-input" placeholder="北京市" disabled="disabled">
	    <input type="hidden" id="city_sel" value="441">
          </div>
          <div class="check-container fl-r" style="width:45%;display:none" id="street_container">
	    <input type="text" class="global-input has-bor-input" placeholder="请选择街道" id="street_picker">
	    <input type="hidden" id="district_sel" value="0">
          </div>
          <div class="check-container" style="width:75%;" id="zone_container">
             <input type="text" class="global-input has-bor-input" placeholder="请选择区" id="zone_picker">
	     <input type="hidden" id="region_sel" value="0">
          </div>
        </div>
        
        <div class="check-container">
          <input type="text" id="new_address" class="global-input has-bor-input" placeholder="详细地址">
        </div>
      </div>
	  
	  <div class="data-item" id="new_address_link" style="display:none">
        <p class="pos-r">新增地址<em class="wap-more-ico"></em></p>
      </div>
	  
      <div class="data-item" id="address_container" style="display:none;margin-top:0px">
        <p class="wap-order-title-item">收货地址</p>
      </div>
	  
	  <div class="data-item" style="display:none" id="self_input_container">
        <div class="self-sent-enter-mes">
          <div class="check-container">
            <input type="text" id="self_shipping_name" class="global-input has-bor-input" placeholder="收货人姓名" />
          </div>
          <div class="check-container">
            <input type="tel" id="self_shipping_mobile" class="global-input has-bor-input" placeholder="联系电话" />
          </div>
		  <div class="new-wap-btn" style="display:none" id="selected_shipping_adress">
          </div>
          <div class="new-wap-btn" id="sel_shipping_button">
              确认并选择自提地点 >
          </div>

        </div>
    </div>

      <div class="clearfix pad-l-r10">
        <em class="check-btn fl-l" style="display:none" id="new_address_btn">添加新地址</em>
        <em class="check-btn fl-r" style="display:none" id="more_address_btn">显示更多地址<em class="wap-ad-down-ico"></em></em>
      </div>

      <div class="data-item">
        <p class="wap-order-title-item">送货时间</p>
        <div class="check-container" id="date_picker_parent" style="position:relative">
		  <div style="position:absolute;top:0px;width:100%;height:50px;z-index:9"></div>
          <input type="text" class="global-input has-bor-input" placeholder="请选择送货日期" id="date_picker" onkeydown="return false;">
		  <em class="date-ico"></em>
		  <input type="hidden" id="year_sel" value="0">
		  <input type="hidden" id="month_sel" value="0">
		  <input type="hidden" id="day_sel" value="0">
        </div>
        <div class="check-container" id="time_picker_parent">
		  <div style="position:absolute;top:0px;width:100%;height:50px;z-index:9"></div>
          <input type="text" class="global-input has-bor-input" placeholder="请选择送货时段" id="time_picker" onkeydown="return false;">
		  <em class="time-ico"></em>
		  <input type="hidden" id="hour_sel" value="0">
		  <input type="hidden" id="minute_sel" value="0">
        </div>
      </div>
      <div class="data-item" style="padding-bottom:45px;">      
	      <h4 class="wap-order-title-item">付款方式</h4>
	      <div class="wap-order-item pay_container" style="padding:14px 10px;" id="cash_container" data-id="1">
		<label for="cashon" >货到付款
		    <em class="wap-radio wap-radio-item checked pay_sel" id="cashon"></em>
		</label>
	      </div>
	      <div class="wap-order-item pay_container" style="display:none;padding:14px 10px;" id="alipay_container" data-id="3">
		<label for="alipay">支付宝<em class="wap-radio wap-radio-item pay_sel"  id="alipay" ></em></label>
	      </div>
		  
		  <div class="wap-order-item pay_container" style="padding:14px 10px;" id="weixin_container" data-id="9">
		<label for="alipay">微信<em class="wap-radio wap-radio-item pay_sel"  id="weixin" ></em></label>
	      </div>
		  
	      <div class="wap-order-item pay_container" style="display:none;padding:14px 10px;" id="kuaiqian_container" data-id="4">
		<label for="kuaiqian">快钱<em class="wap-radio wap-radio-item pay_sel" id="kuaiqian"></em></label>
	      </div>
	    </div>
    </div>

    <div class="wap-total-btn-area">
      <p class="wtb-item-btn">
        <a href="#" id="done_button" class="btn big-btn status1-btn">结算</a>
      </p>
      <p class="wtb-item-total">
        <span style="font-size:18px; margin-bottom:4px; display:block;">合计<span id="total_price"></span>元
	<span style="display:none;font-size:14px;" id="shipping_fee_display">(含10元运费)</span>
	</span>
        <span style="color:#999;"><span id="staff_count">0</span>件商品</span>
      </p>
    </div>
  </div>
						<form action="http://www.mescake.com/flow.php" method="post" id="submit_form">
							<input type="hidden" id="leaving_message" name="leaving_message">
							<input type="hidden" name="pay_id" value="1" id="pay_id">
							<input type="hidden" name="surplus" value="0.00" id="surplus">
							<input type="hidden" name="bonus_id" value="请输入10位现金券券号" id="bonus_id">
							<input type="hidden" name="shipping_fee" value="0.00"  id="shipping_fee">
							<input type="hidden" name="x" value="97">
							<input type="hidden" name="y" value="32">
							<input type="hidden" name="token" value="from_mobile">
							<input type="hidden" name="step" value="done">
							<input type="hidden" id="form_shipping_type" name="shipping_type" value="">
							<input type="hidden" name="shipping_site" value="7">
							<input type="hidden" name="redirect_domain" value="http://touch.n.mescake.com">
						</form>
  <script src="http://s1.static.mescake.com/touch/page/picker.js"></script>
  <script src="http://s1.static.mescake.com/touch/page/checkout.js"></script>
  <script src="http://s1.static.mescake.com/touch/page/shopcar_checkout.js"></script>
  <script>
  window.HAS_BIG_STAFF = false;
  window.HAS_NO_SUGAR_STAFF = false;
  window.server_date = '<%=date%>';
  M.loading();
  //Loader(['touch/page/picker.js','touch/page/checkout.js','touch/page/shopcar_checkout.js']);
  $('#self_shipping_button').click(function(){
	  $('#self_input_container').show();
	  $('#self_shipping_button').find('em').addClass('checked');
	  $('#mes_shipping_button').find('em').removeClass('checked');
	  $('#address_container').hide();
	  $('#new_address_container').hide();
	  $('#form_shipping_type').val('ZT');
	  window.ZT = true;
  });
  
  $('#mes_shipping_button').click(function(){
	  $('#self_input_container').hide();
	  $('#self_shipping_button').find('em').removeClass('checked');
	  $('#mes_shipping_button').find('em').addClass('checked');
	  if(window.IS_LOGIN){
		$('#address_container').show();
	  }else{
	    $('#new_address_container').show();
	  }
	  localStorage.removeItem('shipping_site');
	  $('#selected_shipping_adress').hide();
	  $('#form_shipping_type').val('');
	  window.ZT = false;
  });
  
  $('#sel_shipping_button').click(function(){
	location.href='/shipping_site';
  });
  var shipping_site = localStorage.getItem('shipping_site');
  if(shipping_site){
	 $('#self_shipping_button').trigger('click');
	 var shipping_site_obj = localStorage.getItem('shipping_site_obj');
	 shipping_site_obj = JSON.parse(shipping_site_obj);
	 $('#selected_shipping_adress').show().html('已选择自提站:'+shipping_site_obj.station_name);
	 $('#form_shipping_type').val('ZT');
	 window.ZT = true;
  }
  
  var self_shipping_mobile = localStorage.getItem('self_shipping_mobile');
  if(self_shipping_mobile){
	$('#self_shipping_mobile').val(self_shipping_mobile);
  }
  
  var self_shipping_name = localStorage.getItem('self_shipping_name');
  if(self_shipping_name){
	$('#self_shipping_name').val(self_shipping_name);
  }
  
  $('#self_shipping_mobile').blur(function(){
	  var val = $(this).val();
	  localStorage.setItem('self_shipping_mobile',val);
  });
  
  $('#self_shipping_name').blur(function(){
	 var val = $(this).val();
	 localStorage.setItem('self_shipping_name',val);
  });
  </script>
  <% include includes/baidu %>
</body>
</html>
