
<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0, maximum-scale=2.0"/>
  <title>产品分类</title>
  <link rel="stylesheet" type="text/css" href="http://s1.static.mescake.com/css/homev2.css" />
  <link rel="stylesheet" type="text/css" href="http://s1.static.mescake.com/css/home-wap.css" />
</head>
<body>
  <div class="head-area">
    <div class="mes-head">
      <a href="/" class="main-logo"><img src="img/n-logo.png" /></a>
      <div class="clearfix">
        <ul class="head-nav fl-l hide">
          <li class="hn-item"><a href="#" class="current"><em class="nav-home ico-item"></em><em class="nav-con">首页</em></a></li>
          <li class="hn-item"><a href="#"><em class="nav-cake ico-item"></em><em class="nav-con">蛋糕</em></a></li>
          <li class="hn-item"><a href="#"><em class="nav-flower ico-item"></em></em><em class="nav-con">鲜花</em></a></li>
          <li class="hn-item"><a href="#"><em class="nav-time ico-item"></em><em class="nav-con">每实每刻</em></a></li>
        </ul>
        <div class="mh-login-area">
          <a href="">登录</a> |
          <a href="">注销</a> |
          <a href="">订单</a> |
          <a href=""><em class="ico-shop"></em>购物车<em class="ico-shop-num">5</em></a>
        </div>
      </div>
    </div>
  </div>
  <div class="wap-btn-area">
    <a href="" class="wap-btn">爱的许诺</a> 
    <a href="" class="wap-btn">一起旅行</a> 
    <a href="" class="wap-btn">献给品赏家</a> 
    <a href="" class="wap-btn">献给爱人</a> 
    <a href="" class="wap-btn">献给旅行家</a> 
    <a href="" class="wap-btn">环球经典</a> 
    <a href="" class="wap-btn">异国风味</a> 
    <a href="" class="wap-btn">分享时刻</a> 
    <a href="" class="wap-btn">来点气氛</a> 
    <a href="" class="wap-btn">梦想家</a> 
  </div>
  <!-- for-love  for-happy for-dream -->
  <div class="pro-content-area">
   <div class="pro-content clearfix">
    <ul class="pro-ul fl-l">
      <li><a href=""><em class="left-corner"></em>为了纪念日</a></li>
      <li class="current"><a href=""><em class="left-corner"></em>为了爱</a></li>
      <li><a href=""><em class="left-corner"></em>欢聚一下</a></li>
      <li><a href=""><em class="left-corner"></em>梦想家</a></li>
    </ul>
    <div class="pro-list-area fl-l">
      <h4 class="pro-list-title">Promise / 许诺</h4>
      <div class="clearfix">
        <div class="pro-list-item">
          <a href=""><img src="img/sort/caomei.jpg"/></a>
          <h5>草莓</h5>
          <p>百利甜酒白巧克力与恒的爱</p>
          
        </div>
        <div class="pro-list-item">
          <a href=""><img src="img/sort/me1.jpg"/></a>
          <h5>永恒</h5>
          <p>百利甜酒白巧克力与恒的爱</p>
          
        </div>
        <div class="pro-list-item">
          <a href=""><img src="img/sort/me2.jpg"/></a>
          <h5>唯一</h5>
          <p>咖啡酒、咖啡豆与红醋栗混合配制</p>
          
        </div>
        <div class="pro-list-item">
          <a href=""><img src="img/sort/me3.jpg"/></a>
          <h5>许愿</h5>
          <p>蓬松乳脂奶油上覆盖清香扑鼻的杏仁</p>
          
        </div>
        <div class="pro-list-item">
          <a href=""><img src="img/sort/me3.jpg"/></a>
          <h5>致爱</h5>
          <p>萃取玫瑰汁和百利甜酒、浇灌进纯白的乳脂奶油里</p>
          
        </div>
      </div>
      <h4 class="pro-list-title">Travle / 一起旅行</h4>
      <div class="clearfix">
        <div class="pro-list-item">
          <a href=""><img src="img/sort/me5.jpg"/></a>
          <h5>草莓</h5>
          <p>百利甜酒白巧克力与恒的爱</p>
          
        </div>
        <div class="pro-list-item">
          <a href=""><img src="img/sort/me6.jpg"/></a>
          <h5>永恒</h5>
          <p>百利甜酒白巧克力与恒的爱</p>
          
        </div>
        <div class="pro-list-item">
          <a href=""><img src="img/sort/me7.jpg"/></a>
          <h5>唯一</h5>
          <p>咖啡酒、咖啡豆与红醋栗混合配制</p>
          
        </div>
        <div class="pro-list-item">
          <a href=""><img src="img/sort/me8.jpg"/></a>
          <h5>许愿</h5>
          <p>蓬松乳脂奶油上覆盖清香扑鼻的杏仁</p>
          
        </div>
        <div class="pro-list-item">
          <a href=""><img src="img/sort/me9.jpg"/></a>
          <h5>致爱</h5>
          <p>萃取玫瑰汁和百利甜酒、浇灌进纯白的乳脂奶油里</p>
          
        </div>
      </div>
      <h4 class="pro-list-title">Travle / 一起旅行</h4>
      <div class="clearfix">
        <div class="pro-list-item">
          <a href=""><img src="img/sort/me10.jpg"/></a>
          <h5>草莓</h5>
          <p>百利甜酒白巧克力与恒的爱</p>
          
        </div>
        <div class="pro-list-item">
          <a href=""><img src="img/sort/me11.jpg"/></a>
          <h5>永恒</h5>
          <p>百利甜酒白巧克力与恒的爱</p>
          
        </div>
        <div class="pro-list-item">
          <a href=""><img src="img/sort/me12.jpg"/></a>
          <h5>唯一</h5>
          <p>咖啡酒、咖啡豆与红醋栗混合配制</p>
          
        </div>
        <div class="pro-list-item">
          <a href=""><img src="img/sort/me13.jpg"/></a>
          <h5>许愿</h5>
          <p>蓬松乳脂奶油上覆盖清香扑鼻的杏仁</p>
          
        </div>
        <div class="pro-list-item">
          <a href=""><img src="img/sort/me14.jpg"/></a>
          <h5>致爱</h5>
          <p>萃取玫瑰汁和百利甜酒、浇灌进纯白的乳脂奶油里</p>
          
        </div>
      </div>
    </div>
   </div>
  </div>
  <div class="head-line"></div>
  <div class="footer-area">
     <div class="footer clearfix">
      <p class="foo-l">订购电话：<b>4000 600 700</b></p>
      <div class="foo-r">
        <a href="mailto:services@mescake.com" class="f-contact">联系我们</a> | 
        <div class="WB_FB_show">微博</div> <br/>
        <p class="copyright">2014@mescake.com All rights reserved 京ICP备13036207号</p>
     </div>
  </div>
</body>
</html>