<!DOCTYPE html>
<html>
<head>
  <title>我的订单列表</title>
  <% include includes/head_script %>
  <link rel="stylesheet" type="text/css" href="<%=STATIC_DOMAIN%>css/home-wap.css" />
  <link rel="stylesheet" type="text/css" href="<%=STATIC_DOMAIN%>css/dialog.css" />
  <link rel="stylesheet" type="text/css" href="<%=STATIC_DOMAIN%>css/dialog-wap.css" />
</head>
<body>
<div id="app_main" class="app-main app-nav">
  <% include includes/header_v2 %>
  <div class="scroll-area">
    <div class="content-area" id="container">
      
    </div>
  </div>
  <script>
	M.loading();
  </script>
  <script src="<%=STATIC_DOMAIN%>touch/page/myorder.js"></script>
</div>
</body>
</html>