<!DOCTYPE html>
<html>
<head>
  <title>MES-÷ß∏∂≤‚ ‘</title>
  <% include includes/static_config %>
  <% include includes/static_loader %>
  <% include includes/head_script %>
</head>
<body>
  <% include includes/header_v2 %> 
  <% include includes/baidu %>
  <iframe src="http://www.mescake.com/weixin/js_api_call.php" width="100%" height="100%"></iframe>
</html>